data:
  supervised_csv: "data-curation/metadata_supervised.csv"
  cross_csv: "data-curation/metadata_crossdomain_test.csv"
  root_map:
    hv_kaggle: "/content/data/hv_hospital_day3_day5"
    hv_clinical: "/content/data/HungVuong_hospital_dataset/Human embryo image datasets"
  img_size: 224
  batch_size: 64
  num_workers: 2

model:
  mode: "ssl"
  backbone_name: "vit_base_patch16_224"
  pretrained: false
  ssl_checkpoint: "outputs/wp1_ssl_vit/encoder_ssl.pth"
  from_byol_ckpt: true


train:
  epochs: 10
  lr: 1.0e-3
  weight_decay: 1.0e-4
  fp16: true
  seed: 42

logging:
  run_name: "wp2_linear_probe"
  out_dir: "outputs/wp2_linear_probe"
